{% load static %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}My Website{% endblock %}</title>
        <!-- Load static files -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <script src="{% static 'js/script.js' %}"></script>
        <!-- Any other meta tags, stylesheets, or scripts -->
    </head>
    <body>
    <header>
    <h1>Welcome to My Site  {{ STATIC_URL }}</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/signin/">Sign In</a></li>
            <li><a href="/signup/">Sign Up</a></li>
        </ul>
    </nav>
</header>

<main>
    {% block content %}
    {% endblock %}
</main>

<footer>
    <p>&copy; 2024 My Site. All rights reserved.</p>
</footer>
    </body>
    </html>
    